<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FirstServlet</display-name>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>attachment</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.jpg,.jpeg,.png,.gif</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlet.FirstServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>welcome to FirstServlet</param-value>
    </init-param>
    <init-param>
      <param-name>Encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlet/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/servlet/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>servlet.IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/servlet/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>servlet.InitParamServlet</servlet-class>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/servlet/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>servlet.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/servlet/ContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>servlet.InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/servlet/InjectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>servlet.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/servlet/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProgressUploadServlet</servlet-name>
    <servlet-class>servlet.ProgressUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgressUploadServlet</servlet-name>
    <url-pattern>/servlet/ProgressUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>servlet.LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>startPoint</param-name>
      <param-value>1600</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/servlet/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>servlet.ForwardServlet</servlet-class>
    <init-param>
      <param-name>destination</param-name>
      <param-value>jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/servlet/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>servlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/servlet/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <servlet-class>servlet.ThreadSafetyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <url-pattern>/servlet/ThreadSafetyServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>ImageRedirectFilter</filter-name>
  	<filter-class>filter.ImageRedirectFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ImageRedirectFilter</filter-name>
  	<url-pattern>/images/*</url-pattern>
  	<url-pattern>/upload/images/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>characterEncoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>enabled</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>ExceptionHandlerFilter</filter-name>
  	<filter-class>filter.ExceptionHandlerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ExceptionHandlerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>PrivilegeFilter</filter-name>
  	<filter-class>filter.PrivilegeFilter</filter-class>
  	<init-param>
  		<param-name>file</param-name>
  		<param-value>/WEB-INF/privilege.properties</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>PrivilegeFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>OutputReplaceFilter</filter-name>
  	<filter-class>filter.OutputReplaceFilter</filter-class>
  	<init-param>
  		<param-name>file</param-name>
  		<param-value>/WEB-INF/sensitive.properties</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>OutputReplaceFilter</filter-name>
  	<url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>GZipFilter</filter-name>
  	<filter-class>filter.GZipFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>GZipFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>WaterMarkFilter</filter-name>
  	<filter-class>filter.WaterMarkFilter</filter-class>
  	<init-param>
  		<param-name>waterMarkFile</param-name>
  		<param-value>/WEB-INF/logo.png</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>WaterMarkFilter</filter-name>
  	<url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>CacheFilter</filter-name>
  	<filter-class>filter.CacheFilter</filter-class>
  	<init-param>
  		<param-name>cacheTime</param-name>
  		<param-value>1000000</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CacheFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  	<url-pattern>*.html</url-pattern>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>
			Hello, Welcome to the JavaEE Resource Injection.
		</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>
			Helloween, Cobain, Roses, Axl,
		</env-entry-value>
  </env-entry>
  <welcome-file-list>
    <welcome-file>identity.html</welcome-file>
  </welcome-file-list>
</web-app>